.ant-carousel .slick-slide{
    text-align: left;
    height: 500px;
    background: teal;
    overflow: hidden;
    text-align: center;
}


.image-box{
    background-image: url("../images/3.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 10% 30%;
    opacity: 0.9;
}

.image-box2{
    background-image: url("../images/1.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 0% 30%;
    opacity: 0.9;
}

.image-box3{
    background-image: url("../images/2.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 10% 70%;
    opacity: 0.9;
}

.content-box{
    margin-top: 100px;
}

.slider-content{
    font-family: Tahoma;
    font-size: 70px;
    color: whitesmoke;
}

.content-header{
    font-family: Tahoma;
    font-size: 100px;
    color: whitesmoke;
    padding-bottom: 0px;
    margin: 0px;
    text-align: right;
}

.content-header2{
    font-family: Tahoma;
    font-size: 70px;
    color: whitesmoke;
    margin: 0px;
    padding-top: 0px;
    text-align: right;
}

.btn{
    margin-top: 20px;
    margin-left: 70vw;
}