*{
    margin: 0px;
    padding: 0px;
}

.header-container{
    background-color: #33334d;
    width: 100%;
    height: 60px;
}

.brand-container{
    float: left;
}

.nav-content{
    float: right;
    margin: 15px;
}

.link{
    color: white;
    padding-left: 20px;
    font: 20px Tahoma bold;
}



